<h1>Welcome#admin_page</h1>
<p>Find me in app/views/welcome/admin_page.html.erb</p>


<% if current_admin.authy_enabled %>
  <%= link_to "Disable authy", admin_disable_authy_path, :method => :post %>
<% else %>
  <%= link_to "Enable authy", admin_enable_authy_path %>
<% end %>

<%= link_to "Logout", destroy_admin_session_path, :method => :delete %>

