<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= link_to "Enable authy", user_enable_authy_path %>
<%= link_to "Logout", destroy_user_session_path, :method => :delete %>
